header {
    display: flex;
    align-items: center;
    background-color: #233237;
    color: white;
    font-family: 'Anton', sans-serif;
}


header h1 {
    margin-left: 30px;
}

header img {
    height: 100px;
}